* {
    background-color: beige;
}

h1,
h3 {
    color: red;
}

h1,
h2,
h3 {
    font-style: italic;
}

div {
    width: 70%;
    margin: 0 auto;
    border-style: solid;
    border-color: brown;
    border-width: 5px;
    padding: 10px;
    text-align: justify;
}

td p {
    font-weight: bold;
    text-align: center;
}

img {
    width: 100px;
}

#lorem {
    font-size: 120%;
}